<!DOCTYPE html>
<html>

<head>
  <title>Justin Yen</title>
  <%- include("shared/global")%>
  <link rel="stylesheet" href="/stylesheets/index.css">
  <script type="module" src="/javascripts/page.js" defer></script>
</head>

<body>
  <%- include("shared/nav-bar")%>
  <section class="main">
    <%- include("main-page/title-page") %>
    <%- include("main-page/skills") %>
    <%- include("main-page/work-experience") %>
    <%- include("main-page/projects") %>
  </section>
</body>

</html>